h2 New Task
form.form-horizontal(action=locals.action, method='post', enctype="multipart/form-data")
  - for (fieldset in locals.fields)
    - var fields = locals.fields[fieldset];
    fieldset
      legend= fieldset
      .control-group
        - for (field in fields)
          .control-group(class=(locals.errors[field]) ? 'error' : '')
            - var properties = fields[field];
            - var name = properties.name;
            label.control-label(for=properties.name)= name
            .controls(class=properties.type)
              case properties.type
                when 'text'
                  input(type="text", name=field, id=field, value=locals.values[field]).input-xlarge
                when 'textarea'
                  textarea.input-xlarge(id=field, rows="3", name=field)=locals.values[field]
                when 'number'
                  .input-prepend
                    span.add-on #
                    input(type="number", size="16", value=, name=field, id=field, value=locals.values[field]).span2
                when 'code'
                  - var existingCode = (locals.values[field]) ? locals.values[field] : '// Click to start Editing\n'
                  pre.pre-scrollable.prettyprint.editablecode(name=field, id='Code' + field)=existingCode
                  textarea(style='display:none; width:100%; height:350px;', name=field, id=field)=existingCode
              - if (locals.errors[field])
                span.help-inline=locals.errors[field]
              p.help-block
                - if (properties.sideHelp)
                  a(href='#')
                    i.icon-question-sign
                  &nbsp;
                #{properties.help}
  .form-actions
    button(type="submit").btn.btn-primary Save changes
    &nbsp;
    button.btn Cancel