h2 New Task
form.form-horizontal(action=locals.action, method='post', enctype="multipart/form-data")
  - for (fieldset in locals.fields)
    - var fields = locals.fields[fieldset];
    fieldset
      legend= fieldset
      .control-group
        - for (field in fields)
          .control-group(class=(locals.errors[field]) ? 'error' : '')
            - var properties = fields[field];
            - var name = properties.name;
            label.control-label(for=properties.name)= field
            .controls
              case properties.type
                when 'text'
                  input(type="text", name=name, id=name, value=locals.values[name]).input-xlarge
                when 'textarea'
                  textarea.input-xlarge(id=name, rows="3", name=name)=locals.values[name]
                when 'number'
                  .input-prepend
                    span.add-on #
                    input(type="number", size="16", value=, name=name, id=name, value=locals.values[name]).span2
                when 'file'
                  input.input-file(type="file", name=name, id=name, value=locals.values[name])
                when 'code'
                  textarea.input-xlarge(rows="6", name=name, id=name).
                    // An example payload description
                    {   'n': '1-1001337'
                      , 'param2': [1,2,3,4]
                      , 'param3': 99
                    }
              - if (locals.errors[field])
                span.help-inline=locals.errors[field]
              p.help-block
                - if (properties.sideHelp)
                  a(href='#')
                    i.icon-question-sign
                  &nbsp;
                #{properties.help}
  .form-actions
    button(type="submit").btn.btn-primary Save changes
    button.btn Cancel