.page-header
  h1 List of Managers&nbsp;
    small Including extra information
.row
  .span8
    table.table.table-striped
      thead
        tr
          th Status
          th Node
          th Ip Address
          th Port
          th ØMQ Port
          th Task
          th Max Distributors
          th Restart
      tbody
      - for (i in locals.managers) {
        tr
          td
            img(src='/images/' + (locals.managers[i].online ? 'online' : 'offline') + '-16.png')
          td #{i}
          td #{locals.managers[i].addresses[0]}
          td #{locals.managers[i].port}
          td #{locals.managers[i].txtRecord.zmqPort}
          td
            a(href='/task/view/' + locals.managers[i].txtRecord.id) Preview
          td #{locals.managers[i].txtRecord.maxDistributors}
          td
            a.btn.btn-mini.btn-inverse(href='http://'+locals.managers[i].addresses[0]+':'+locals.managers[i].port+'/restart', class=(locals.managers[i].online ? '' : 'disabled')) Restart
      - }
  .span4
    p A list of all managers that have been found on the local network and the associated task, status and other useful information
    p.muted
      strong Note:&nbsp;
      | Not all offline managers will be shown